<mat-toolbar>
  <ngx-mat-searchbox [searchData]="searchData" [searchExtended]="true" (searchResults)="usersSearched($event)">
  </ngx-mat-searchbox>
</mat-toolbar>
<div class="container">
  <mat-selection-list #users class="userslist" [multiple]="false">
    <!--scroller for users list-->
    <cdk-virtual-scroll-viewport #usersviewport itemSize="87" class="viewport">
      <!--each row represents a user account-->
      <mat-list-option *cdkVirtualFor="let user of usersData; let row = index; templateCacheSize: 0" [value]=user.id
        [style.height.px]="87"
        [ngClass]="(usersRowFound(row)) ? 'users-search-found' : 'users-search-notfound'">
        <div matLine class="element-text-10pt">{{user.id}}</div>
        <div matLine class="element-text-11pt">{{user.name}}</div>
        <div matLine class="element-text-10pt">{{user.email}}</div>
        <mat-divider></mat-divider>
      </mat-list-option>
    </cdk-virtual-scroll-viewport>
  </mat-selection-list>
</div>
